/*弹窗*/
.login_layer{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.login_layer i{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}
.login_layer .middle{
  position: absolute;
  left: 50%;
  top:30%;
  z-index: 1;
  margin-left: -3.2rem;
  //transform: translate(-50%,-50%);
  //-webkit-transform: translate(-50%,-50%);
  //-o-transform: translate(-50%,-50%);
  //-moz-transform: translate(-50%,-50%);
  //-ms-transform: translate(-50%,-50%);
}
.login_layer .common_box{
  width: 6.4rem;
  background: #ffffff;
  border-radius: 5px;
  min-height: 2.12rem;
  padding-bottom: 0.42rem;
}
.login_layer .common_box .nav{
  width: 5rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0.2rem;
}
.login_layer .common_box .nav .title{
  font-size: 0.34rem;
  color: #333333;
  padding-top: 0.34rem;
  text-align: center;
}
.login_layer .common_box .nav .tip{
  text-align: center;
  font-size: 0.24rem;
  color: #8e8e8e;
  margin-top: 0.2rem;
}
.login_layer .common_box .btn_line{
  width: 5.5rem;
  margin: 0 auto;
}
.login_layer .common_box .btn_line .complete{
  display: block;
  width: 5rem;
  height: 0.72rem;
  line-height: 0.72rem;
  font-size: 0.34rem;
  margin: 0 auto;
  text-align: center;
  background: #15bfff;
  color: #fff;
  border-radius: 38px;
  box-shadow: 0px .08rem .2rem #8cdfff;
  -moz-box-shadow:0px .08rem .2rem #8cdfff;
}
.login_layer .common_box .close{
  display: block;
  height: 0.72rem;
  line-height: 0.72rem;
  text-align: center;
  width: 2.47rem;
  border:1px solid #15bfff;
  border-radius: .5rem;
  font-size: 0.34rem;
  color: #15bfff;
  margin: 0 auto;
  float: left;
}
.login_layer .common_box .notice{
  margin: 0.5rem auto;
  text-align: center;
  font-size: 0.34rem;
  color: #333;
}
.login_layer .common_box .btn_bg{
  display: block;
  height: 0.72rem;
  line-height: 0.72rem;
  text-align: center;
  width: 2.47rem;
  background: #15bfff;
  border-radius: .5rem;
  font-size: 0.34rem;
  border:1px solid #15bfff;
  color: #ffffff;
  margin: 0 auto;
  float: right;
  box-shadow: 0px .08rem .2rem #8cdfff;
  -moz-box-shadow:0px .08rem .2rem #8cdfff;
}
.login_layer .common_box .nav li{
  width: 50%;
  float: left;
  text-align: center;
  color: #a5a5a5;
  font-size: 0.28rem;
  border-bottom: 1px solid #a5a5a5;
  height: 1rem;
  line-height: 1rem;
}
.login_layer .common_box .nav li.cur{
  color: #15bfff;
  border-bottom: 2px solid #15bfff;
}
.login_layer .common_box .nav li span{
  padding-left: 0.37rem;
  //background: url("../images/phone.png") no-repeat 0 0.05rem;
  background-size: 0.15rem 0.24rem;
}
.login_layer .common_box .nav li.cur span{
  //background: url("../images/phone_lan.png") no-repeat 0 0.05rem;
  background-size: 0.15rem 0.24rem;
}
.login_layer .common_box .nav li:last-child span{
  //background: url("../images/lock.png") no-repeat 0 0.05rem;
  background-size: 0.21rem 0.24rem;
}
.login_layer .common_box .nav li:last-child.cur span{
  //background: url("../images/lock_lan.png") no-repeat 0 0.05rem;
  background-size: 0.21rem 0.24rem;
}
.login_layer .common_box .info_area{
  margin-top: 0.26rem;
}
.login_layer .common_box .info_area li .edit_input{
  height: 0.74rem;
  line-height: 0.74rem;
  margin: 0 0.7rem;
  margin-top: 0.3rem;
}
.login_layer .common_box .info_area li div input{
  height: 0.54rem;
  width: 3.74rem;
  border: 1px solid #cccccc;
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
  outline: none;
  font-size:0.28rem;
  box-shadow:0px 0px 0px rgba(0,0,0,0);
  -webkit-appearance:none;
}
.login_layer .common_box .info_area li div input.half{
  width: 1.55rem;
}
.login_layer .common_box .info_area li div span.fl{
  font-size: 0.3rem;
  color: #333;
  width: 0.8rem;
  text-align: center;
  height: 0.74rem;
}
.login_layer .common_box .info_area li div span.fl.username{
  background: url("../../assets/images/user_bg.png") no-repeat 0 center;
  background-size: .42rem .43rem;
}
.login_layer .common_box .info_area li div span.fl.password{
  background: url("../../assets/images/password.png") no-repeat 0 center;
  background-size: .39rem .43rem;
}
.login_layer .common_box .info_area li div a.get_code{
  height: 0.7rem;
  background: #15bfff;
  width: 1.83rem;
  text-align: center;
  line-height: 0.7rem;
  color: #ffffff;
  border-radius: 5px;
  font-size: 0.28rem;
  float: left;
  margin-left: 0.36rem;
  margin-top: 1px;
}
.login_layer .common_box .info_area p.warn_txt{
  color: #ff4f4f;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.1rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}
.pr{ position: relative;}
.img_code{ display: inline-block; width: 1.03rem; height: .56rem; font-size: 0; position: absolute; right:.13rem; top:.12rem; }
.img_code:after{ content: "";/* 注意这里为双引号 */ position: absolute; left:0; top:0; width: 200%; height: 200%;  border: 1px solid #ccc; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0;
  transform-origin: 0 0; -webkit-transform: scale(0.5, 0.5); -ms-transform: scale(0.5, 0.5); -o-transform: scale(0.5, 0.5); transform: scale(0.5, 0.5); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;z-index: 1;-webkit-transform:scale(0.5);}
.img_code img{ display: inline-block; vertical-align: top; width: 100%; height: 100%;}
.txt_code{position: absolute; right:0; top:.18rem; font-size: .28rem; color: #15BFFF; height: .44rem; line-height: .44rem; border-left: 1px solid #ccc; padding: 0 .1rem; }
.txt_code.con{color: #ccc;}
.code_phone{ background: url("../../assets/images/phone_code.png") no-repeat 0 center; background-size: .42rem .48rem;}
.code_img{ background: url("../../assets/images/img_code.png") no-repeat 0 center; background-size: .42rem .3rem;}
.txt_img{background: url("../../assets/images/txt_code.png") no-repeat 0 center; background-size: .42rem .3rem;}
input::-webkit-input-placeholder{ /*WebKit browsers*/ color: #DDDDDD;}
input::-moz-input-placeholder{ /*Mozilla Firefox*/ color: #DDDDDD;}
input::-ms-input-placeholder{ /*Internet Explorer*/  color: #DDDDDD;}
.Bind_account{ color: #507DAD; font-size: .26rem; padding-left: .8rem; margin: 0 0.7rem; margin-top: .3rem;}

.close_btn{ display: block; margin: 0 auto; margin-top: .48rem; width: .78rem; height: .78rem;}
.close_btn .img{ display: inline-block; text-align: center; width: .78rem; height: .78rem;}
